{# gridsetup.rsp.j2 - silent response for Oracle Restart / GI standalone. #}
{# Managed by ansible-oracle / oracle_gi_install. #}
oracle.install.responseFileVersion=/oracle/install/rspfmt_crsinstall_response_schema_v19.0.0
INVENTORY_LOCATION={{ oracle_inventory_loc }}
oracle.install.option=HA_CONFIG
ORACLE_BASE={{ oracle_gi_oracle_base }}
oracle.install.asm.OSDBA={{ oracle_primary_group_role | default('dba') }}
oracle.install.asm.OSOPER=oper
oracle.install.asm.OSASM={{ oracle_asm_group }}
oracle.install.crs.config.ClusterConfiguration=
oracle.install.crs.config.clusterName={{ oracle_gi_install_cluster_name }}
oracle.install.crs.config.gpnp.configureGNS=false
oracle.install.crs.config.autoConfigureClusterNodeVIP=false
oracle.install.crs.config.clusterNodes=
oracle.install.crs.config.networkInterfaceList=
oracle.install.crs.configureGIMR=false
oracle.install.crs.config.storageOption=FLEX_ASM_STORAGE
oracle.install.crs.config.sharedFileSystemStorage.votingDiskLocations=
oracle.install.crs.config.sharedFileSystemStorage.ocrLocations=
oracle.install.crs.config.useIPMI=false
oracle.install.asm.SYSASMPassword={{ oracle_gi_asm_sys_password }}
oracle.install.asm.diskGroup.name={{ oracle_gi_asm_diskgroup_name }}
oracle.install.asm.diskGroup.redundancy={{ oracle_gi_asm_diskgroup_redundancy }}
oracle.install.asm.diskGroup.AUSize={{ oracle_gi_asm_diskgroup_ausize }}
oracle.install.asm.diskGroup.disks={{ oracle_gi_asm_disks }}
oracle.install.asm.diskGroup.diskDiscoveryString={{ oracle_gi_asm_disk_discovery_string }}
oracle.install.asm.monitorPassword={{ oracle_gi_asm_monitor_password }}
oracle.install.config.managementOption=NONE
oracle.install.crs.rootconfig.executeRootScript=false
