ORACLE_RESTART_RECONCILE_GI_HOME={{ oracle_gi_home | quote }}
ORACLE_RESTART_RECONCILE_ATTEMPTS={{ oracle_restart_reconcile_attempts | int }}
ORACLE_RESTART_RECONCILE_DELAY_SECONDS={{ oracle_restart_reconcile_delay_seconds | int }}
ORACLE_RESTART_RECONCILE_COMMAND_TIMEOUT_SECONDS={{ oracle_restart_reconcile_command_timeout_seconds | int }}
ORACLE_RESTART_RECONCILE_READ_TIMEOUT_SECONDS={{ oracle_restart_reconcile_read_timeout_seconds | int }}
ORACLE_RESTART_RECONCILE_MUTATION_TIMEOUT_SECONDS={{ oracle_restart_reconcile_mutation_timeout_seconds | int }}
ORACLE_RESTART_RECONCILE_DGMGRL_USER={{ oracle_restart_reconcile_dgmgrl_user | quote }}
ORACLE_RESTART_RECONCILE_DGMGRL_PASSWORD={{ oracle_restart_reconcile_dgmgrl_password | quote }}
