DGMGRL_CONNECT={{ observer_sysdg_user }}/{{ observer_sysdg_password }}@{{ observer_dg_connect_identifier }}
OBSERVER_CLIENT_HOME={{ observer_client_home }}
TNS_ADMIN={{ observer_config_dir }}
OBSERVER_NAME={{ observer_name }}
OBSERVER_CONNECT_IDENTIFIER={{ observer_dg_connect_identifier }}
OBSERVER_FILE={{ observer_state_dir }}/{{ observer_name }}.dat
OBSERVER_LOGFILE={{ observer_log_dir }}/{{ observer_name }}.log
