DGMGRL_CONNECT={{ (observer_sysdg_user ~ '/' ~ observer_sysdg_password ~ '@' ~ observer_dg_connect_identifier) | quote }}
DGMGRL_CONNECT_ALTERNATE={{ (observer_sysdg_user ~ '/' ~ observer_sysdg_password ~ '@' ~ observer_dg_standby_connect_identifier) | quote }}
OBSERVER_CLIENT_HOME={{ observer_client_home | quote }}
TNS_ADMIN={{ observer_config_dir | quote }}
OBSERVER_NAME={{ observer_name | quote }}
OBSERVER_CONNECT_IDENTIFIER={{ observer_dg_connect_identifier | quote }}
OBSERVER_FILE={{ (observer_state_dir ~ '/' ~ observer_name ~ '.dat') | quote }}
OBSERVER_LOGFILE={{ (observer_log_dir ~ '/' ~ observer_name ~ '.log') | quote }}
OBSERVER_DG_PRIMARY_UNIQUE_NAME={{ observer_dg_primary_unique_name | quote }}
OBSERVER_DG_STANDBY_UNIQUE_NAME={{ observer_dg_standby_unique_name | quote }}
OBSERVER_COLD_BOOT_GUARD_ENABLED={{ observer_cold_boot_guard_enabled | bool | ternary('true', 'false') }}
OBSERVER_COLD_BOOT_GUARD_RETRIES={{ observer_cold_boot_guard_retries }}
OBSERVER_COLD_BOOT_GUARD_DELAY={{ observer_cold_boot_guard_delay }}
OBSERVER_COLD_BOOT_GUARD_COMMAND_TIMEOUT={{ observer_cold_boot_guard_command_timeout }}
OBSERVER_COLD_BOOT_GUARD_TOTAL_TIMEOUT={{ observer_cold_boot_guard_total_timeout }}
OBSERVER_COLD_BOOT_GUARD_STATE_FILE={{ ('/run/' ~ observer_service_name ~ '/boot-ready') | quote }}
